.site-header{
  padding: 1em;
  margin-left: 5em;
}

.site-header.sticky {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;

}

body {
  background-image:url(../img/menu.svg);
}


h1{
  font-size: 18px;
/* margin creates space between elements   */
  margin-bottom: 5px;
  
  font-family: all-round-gothic, sans-serif;
  font-weight: 300;
    font-style: normal;
   
}

h2{
  font-family: 'merriweather';
  font-weight: 300;
    font-style: normal;
    font-size: 30px;
    text-align: center;

    padding-top: 5em;
    /* padding-right: 3em; */
    text-align: center;
    position: relative;
    color: #0e0e0e;
}

h3{
  font-family: roboto, sans-serif;
  font-weight: 700;
    font-style: normal;
    font-size: 70px;
    text-align: center;

    padding-top: 2.5em;
    /* padding-right: 3em; */
    text-align: center;
    position: relative;
    color: #ffffff;
}

/* body {
  font-family: Roboto;
  font-size: 16px;
  color: #ffffff;
  background-color: rgb(204, 204, 204);
} */

a{
  color: #0c0c0c;
  text-decoration: none;
}

section{
  height: 80vh;
  background-size: cover;
  background-attachment: fixed;
}


footer{
  position: fixed;
  bottom: 20px;
  left: 20px;
  margin-left: 5em;
}

footer a{
  margin-right: 5px;
}

a:hover{
  color: #33606b;
}


.image_1{
  background-image: url(../img/LunarBeans_2.jpg);
   opacity: 0.91;
  margin-right: 5em;
  margin-left: 5em;
   margin-bottom: 10em;

}

.image_2{
  background-image: url(../img/TerraBlue.png);
   opacity: 0.93;
  color: black;
  margin-right: 5em;
  margin-left: 5em;
  margin-bottom: 10em;
}

.image_3{
  background-image: url(../img/gala2.png);
  margin-right: 5em;
  margin-left: 5em;
}

.image_4{
  background-image: url(../img/other.png);
  margin-right: 5em;
  margin-left: 5em;
}


.text1 {
  padding-top: 5em;
  /* padding-right: 3em; */
  text-align: center;
  position: relative;
  font-size: 70px;
  font-weight: 700;

}

.text2 {
  padding-top: 5em;
  /* padding-left: 3em; */
  text-align: center;
  position: relative;
  font-size: 60px;
  font-weight: 700;
}


.image_1:hover {
  filter: grayscale(70%);
}

.image_2:hover {
  filter: grayscale(70%);
}

.image_3:hover {
  filter: grayscale(70%);
}

.image_4:hover {
  filter: grayscale(70%);
}