body { margin: 0; }
* { box-sizing: border-box;
  background-image:url(../img/dots.svg); }
.site-header{
  padding: 1em;
  margin-left: 5em;
}

.site-header.sticky {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  background: white;
}


h1{
  font-size: 18px;
/* margin creates space between elements   */
  margin-bottom: 5px;
  
  font-family: all-round-gothic, sans-serif;
  font-weight: 300;
    font-style: normal;
   
}

h2{
  font-family: 'merriweather';
  font-weight: 300;
    font-style: normal;
    font-size: 30px;
    text-align: center;

    padding-top: 5em;
    /* padding-right: 3em; */
    text-align: center;
    position: relative;
    color: #0e0e0e;
}

h3{
  font-family: roboto, sans-serif;
  font-weight: 700;
    font-style: normal;
    font-size: 70px;
    text-align: center;
    margin: 0;
    /* padding-top: 2.5em; */
    /* padding-right: 3em; */
    text-align: center;
    position: relative;
    color: #ffffff;
}

/* body {
  font-family: Roboto;
  font-size: 16px;
  color: #ffffff;
  background-color: rgb(204, 204, 204);
} */

a{
  color: #0c0c0c;
  text-decoration: none;
}




.site-footer{
  position: fixed;
  width: 100%;
  bottom: 0;
  padding: 1em;
  /* margin-left: 5em; */
  background: white;
}

footer a{
  margin-right: 5px;
}

a:hover{
  color: #33606b;
}

.parallax-bg{
  height: 80vh;
  background-size: cover;
  background-attachment: fixed;
  margin: 5vw;
  display: grid;
  place-items: center;
}
.hero {
  background-image: url(../img/taro-cover.png);
  background-size: cover;
  background-position: center;
}

.image_1{
  background-image: url(../img/LunarBeans_2.jpg);

}

.image_2{
  background-image: url(../img/TerraBlue.png);
}

.image_3{
  background-image: url(../img/gala2.png);
}

.image_4{
  background-image: url(../img/other.png);
}


.text1 {
  padding-top: 5em;
  /* padding-right: 3em; */
  text-align: center;
  position: relative;
  font-size: 70px;
  font-weight: 700;
  
}

.text2 {
  padding-top: 5em;
  /* padding-left: 3em; */
  text-align: center;
  position: relative;
  font-size: 60px;
  font-weight: 700;
}


.image_1:hover {
  filter: grayscale(70%);
}

.image_2:hover {
  filter: grayscale(70%);
}

.image_3:hover {
  filter: grayscale(70%);
}

.image_4:hover {
  filter: grayscale(70%);
}